.button {
  appearance: none;
  background-color: rgb(0, 60, 132);
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 12px;
  padding: 8px 16px;
}

.button:focus,
.button:hover {
  opacity: 0.9;
}

.secondary {
  background-color: rgba(0, 60, 132, 0.15);
  color: rgb(0, 60, 132);
}
